<app-navbar></app-navbar>
<div class="top">
  
  <div class="searchSection">
    <span class="logo" style="background-color: transparent;">Plan-A</span>
    <input type="search" name="search" id="search" placeholder="Search here">
    <img style="background-color: transparent; height: 25px; margin-top: 50px;" class="search" src="/assets/icons/searchWhite.png" alt="">
  </div>
</div>

<div class="main-content">
  <div class="sidebar">
    <div class="filters">
      <h5 style="background-color: transparent;">Filters</h5>
      <div style="background-color: transparent;" class="filter-option">
        <select style="background-color: transparent;" id="category">
          <option value="" disabled selected>Select a category</option>
          <option value="">All Categories</option>
          <option value="music">Music</option>
          <option value="sport">Sport</option>
          <option value="conference">Conference</option>
        </select>
        <label for="category" style="background-color: transparent;">Category</label>
      </div>

      <div style="background-color: transparent;" class="filter-option">
        <input type="text" id="organizer" placeholder=" ">
        <label style="background-color: transparent;" for="organizer">Organizer</label>
      </div>

      <div style="background-color: transparent;" class="filter-option">
        <input type="text" id="location" placeholder=" ">
        <label style="background-color: transparent;" for="location">Location</label>
      </div>
    </div>

    <div style="background-color: transparent;" class="calendar">
      <h5 style="background-color: transparent;">Calendar</h5>
      <div id="calendar-placeholder">
        <!-- Calendar content i will add dynamically -->
      </div>
    </div>
  </div>

  <div class="upcoming-events">
    <h3 class="upcoming-events-title">Upcoming Events</h3>

    <div class="upcoming-events-container">
      <div *ngFor="let event of upcomingEvents" class="upcoming-events-item">
        <div class="upcoming-events-item-img">
          <img [src]="event.image" alt="Event Image">
        </div>
        <div class="eventInfo">
          <div class="uptop">
            <div class="status">
              Virtual
              <img style="background-color: transparent; height: 23px;" src="/assets/icons/live.png" alt="Verified Icon">
            </div>
            <div class="attenders">
              <img style="background-color: transparent;" src="/assets/icons/users.png" alt="Attenders Icon">
              <span class="attenders">{{ event.numberOfTickets - event.remainingTickets }}</span>
            </div>
          </div>
          <h3 class="event-name">{{ event.name }}</h3>
          <p class="desc">{{ event.description }}</p>
          <div class="crucial">
            <p class="location">
              <img src="/assets/icons/location.png" alt="Location Icon"> {{ event.location }}
            </p>
            <span class="date">
              <img src="/assets/icons/date.png" alt="Date Icon">{{ event.date | date:'shortDate' }} {{ event.time | date:'shortTime' }}
            </span>
          </div>
          <div class="btm">
            <button class="ticketbtn" [routerLink]="['/event', event.eventId]">
              <img class="ticketIcon" src="/assets/icons/ticket.png" alt="Ticket Icon">Get your ticket
            </button>
            <p class="phone">
              <img src="/assets/icons/phone.png" alt="Phone Icon"> {{ event.manager.phoneNumber }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
