<div class="container">
    <h1>Events</h1>
    <table>
      <thead>
        <tr>
          <th>Manager</th>
          <th>Event</th>
          <th>Attending persons</th>
          <th>Total Earnings</th>
          <th>Event Status</th>
          <th>Event Nature</th>
          <th>Ticket sales rate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>
            <span class="avatar" [style.backgroundImage]="'url(' + event.manager.profilePicture + ')'"></span>
            {{ event.manager.name }}
          </td>
          <td>{{ event.name }}</td>
          <td>{{ event.numberOfTickets - event.remainingTickets }}</td>
          <td>Ksh. {{ calculateTotalEarnings(event) | number:'1.0-0' }}</td>
          <td>
            <span class="status" [ngClass]="{'approved': event.status === 'ACTIVE', 'pending': event.status === 'PENDING', 'canceled': event.status === 'CANCELED'}">
              {{ event.status }}
            </span>
          </td>
          <td>
            <span class="nature" [ngClass]="{'pending': event.nature === 'PENDING', 'approved': event.nature !== 'PENDING'}">
              {{ event.nature }}
            </span>
          </td>
          <td>
            <div class="progress-bar">
              <div class="progress" [style.width]="calculateTicketSalesRate(event) + '%'"></div>
            </div>
            {{ calculateTicketSalesRate(event) | number:'1.0-0' }}%
          </td>
          <td>
            <div class="dropdown">
              <button class="action-btn">⋮</button>
              <div class="dropdown-content">
                <a (click)="approveEvent(event.eventId)">Approve</a>
                <a (click)="rejectEvent(event.eventId)">Reject</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <app-success-message *ngIf="showSuccessMessage" [message]="responseMessage"></app-success-message>
    <app-error-message *ngIf="showErrorMessage" [message]="responseMessage"></app-error-message>
  </div>