<div class="container">
    <h1>Users</h1>
    
    <app-success-message *ngIf="showSuccessMessage" [message]="responseMessage"></app-success-message>
    <app-error-message *ngIf="showErrorMessage" [message]="responseMessage"></app-error-message>
  
    <div class="filter-section">
      <label for="filterStatus">Filter by status:</label>
      <select id="filterStatus" [(ngModel)]="filterStatus" (change)="filterUsers()">
        <option value="all">All Users</option>
        <option value="active">Active</option>
        <option value="pending">Pending</option>
        <option value="disabled">Disabled</option>
      </select>
    </div>
  
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>User type</th>
          <th>Account Status</th>
          
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>
            <span class="avatar" [style.backgroundImage]="user.profilePicture ? 'url(' + user.profilePicture + ')' : 'none'"></span>
            {{ user.name }}
          </td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.role }}</td>
          <td><span class="status" [ngClass]="{'approved': user.accountStatus === 'active', 'pending': user.accountStatus === 'pending', 'disabled': user.accountStatus === 'disabled'}">{{ user.accountStatus }}</span></td>
          
          <td>
            <div class="dropdown">
              <button class="action-btn">Actions ▼</button>
              <div class="dropdown-content">
                <a *ngIf="user.accountStatus === 'active'" (click)="disableUser(user.userId)">Disable</a>
                <a *ngIf="user.accountStatus === 'disabled' || user.accountStatus === 'pending'" (click)="enableUser(user.userId)">Enable</a>
                <a *ngIf="user.role === 'user'" (click)="verifyAccount(user.userId)">Verify as Manager</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>