<app-navbar></app-navbar>

<body>
  <div class="main">
    <div class="hero" style="background-color: transparent;">
      <h3 class="herom"><span class="heromain" style="background-color: transparent;"></span> <span class="logo"></span></h3>
      <h4 class="discover">Chek your email for verification code</h4>
    </div>
    <div class="form-container" style="width: 50%; margin: auto; margin-top: 50px;">
      <form (ngSubmit)="onResetPassword()">
        <h5>Enter New Password</h5>
        <input type="password" placeholder="New password" [(ngModel)]="newPassword" name="newPassword" required>
        <!-- Token input field -->
        <input type="text" placeholder="Token" [(ngModel)]="token" name="token" required>
        <button type="submit" style="width: 100%;">Reset Password</button>
      </form>
    </div>
  </div>

  <app-success-message *ngIf="showSuccessMessage" [message]="responseMessage"></app-success-message>
  <app-error-message *ngIf="showErrorMessage" [message]="responseMessage"></app-error-message>
</body>
