a<body>
  <div class="container">
    <h1 class="logo">Plan-A</h1>
    <h2 class="title">Create your account</h2>
    <form class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

      <div class="input-group">
        <img class="iconsform" src="/assets/icons/email.png" alt="">
        <input type="email" id="email" placeholder="Email Address" required email [(ngModel)]="email" name="email">
        <div *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched" class="error-message">
          <span *ngIf="loginForm.controls['email']?.errors?.['required']">Email is required</span>
          <span *ngIf="loginForm.controls['email']?.errors?.['email']">Invalid email address</span>
        </div>
      </div>
      <div  class="input-group">
        <img class="iconsform" src="/assets/icons/password.png" alt="">
        <input type="password" id="password" placeholder="Password" required [(ngModel)]="password" name="password">
        <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched" class="error-message">
          Password is required
        </div>
      </div>

      <button type="submit" class="submit-btn">Sign in</button>
    </form>
    <p class="login-link">Dont have an account? <a routerLink="/signup">Sign up</a></p>
  </div>
</body>
