<body>
  <app-navbar></app-navbar>
  <main style="margin-top: 50px;">
    <p style="font-size: 25px; margin-bottom: 20px; color: #03c2f2;">My Tickets</p>
    <div *ngFor="let ticket of tickets" class="ticket-wrapper">
      <section class="my-tickets">
        <div class="left">
          <p class="evnt tickt">
            <img class="ticketIcon" id="evntt" src="/assets/icons/ticket.png" alt="Ticket Icon"> 
            {{ ticket.event.name }}
          </p>
          <div class="ps">
            <p class="evnt">
              <img class="ticketIcons" src="/assets/icons/location.png" alt="Location Icon"> 
              {{ ticket.event.location }}
            </p>
            <p class="evnt">
              <img class="ticketIcons" src="/assets/icons/event.png" alt="Event Icon"> 
              {{ ticket.event.date | date: 'mediumDate' }} at {{ ticket.event.time }}
            </p>
          </div>
        </div>
      </section>
      <section class="my-tickets2">
        <div class="rightL">
          <div class="profile">
            <img [src]="ticket.event.manager.profilePicture" alt="Host Image">
            <div class="prof">
              <p style="font-size: 20px;">Hosted by</p>
              <p style="color: #03c2f2;">{{ ticket.event.manager.name }}</p>
            </div>
          </div>
          <div class="btm">
            {{ ticket.event.moreInfo }}
          </div>
          <div style="display: flex; align-items: center; gap: 10px;" class="phone">
            <img class="ticketIcons" src="/assets/icons/phone.png" alt="Phone Icon"> 
            {{ ticket.event.manager.phoneNumber }}
          </div>
        </div>
        <div class="rightR">
          <span>Ksh. {{ ticket.totalPrice }}</span>
        </div>
        <div class="cancel-button">
          <button (click)="cancelReservation(ticket.reservationId)">Cancel Reservation</button>
        </div>
      </section>
    </div>
  </main>

  <app-success-message *ngIf="showSuccessMessage" [message]="responseMessage"></app-success-message>
  <app-error-message *ngIf="showErrorMessage" [message]="responseMessage"></app-error-message>
</body>
