body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #101827;
  color: #ffffff;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.ticket-wrapper {
  display: flex;
  margin-bottom: 20px;
  width: 80%;
}

.ticketIcons {
  height: 20px;
}

.evnt {
  display: flex;
  align-items: center;
  gap: 10px;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e3e3e31e;
  border-radius: 25px;
  margin: 10px 0;
  width: 800px;
  height: 200px;
}

.my-tickets {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px dashed #00ccff;
  border-right: none;
}

.my-tickets2{
  border: 1px dashed #00ccff;
  border-left: none
}
.left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tickt {
  font-size: 20px;
  color: #00ccff;
}

#evntt {
  height: 30px;
}

.rightR {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(270deg);
  transform-origin: center center;
  font-family: 'Libre Barcode 128 Text', cursive;
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  margin-left: 50px;

}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  height: 70px;
  border-radius: 100%;
  border: 1px solid #03A5CE;
}

.prof {
  display: flex;
  flex-direction: column;
}

.rightL {
  padding-left: 20px;
}

.btm {
  width: 85%;
}

.phone {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  position: absolute;
  margin-left: 470px;
}
