<app-navbar></app-navbar>

<body>
  <div class="main">
    <div class="hero" style="background-color: transparent;">
      <h3 class="herom"><span class="heromain" style="background-color: transparent;"></span> <span class="logo"></span></h3>
      <h5 class="discover">Don't worry! We'll help you get back on track.</h5>
    </div>
    <div class="form-container" style="width: 50%; margin: auto; margin-top: 50px;">
      <form (ngSubmit)="onForgotPassword()">
        <h5>Enter Your Email</h5>
        <input type="email" placeholder="Your email address" [(ngModel)]="email" name="email" required>
        <button type="submit" style="width: 100%;">Send Password Reset Link</button>
      </form>
    </div>
  </div>

  <app-success-message *ngIf="showSuccessMessage" [message]="responseMessage"></app-success-message>
  <app-error-message *ngIf="showErrorMessage" [message]="responseMessage"></app-error-message>
</body>
