@import url(https://fonts.googleapis.com/css?family=Roboto:300);

:root {
  --color-1: #1a1a1a;
  --color-2: #fefefe;
  --pad: 0.925rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Roboto;
  height: 100%;
  background-color: #000000;
  color: white;
}

.hide {
  display: none;
}

.head-nav ul {
  margin: calc(var(--pad) * 2) 0 0 0;
  padding: 0;
  list-style: none;
}

.head-nav li {
  position: relative;
  clear: both;
  width: 100%;
  transition: background 400ms;
}

.head-nav li:hover {
  background-color: var(--color-1);
}

.head-nav li:hover:before {
  background-color: var(--color-1);
}

.head-nav li:hover svg {
  background: var(--color-1);
  fill: #151515;
}

.head-nav li:hover a {
  color: #825656;
}

.head-nav li:before {
  position: absolute;
  left: calc(var(--pad) * -1);
  top: 0;
  width: var(--pad);
  height: 100%;
  content: "";
  background: #151515;
  z-index: 1;
  transition: background 400ms;
}

.head-nav li a {
  display: flex;
  padding: 2vh 0;
  align-items: center;
  width: 100%;
  color: white;
  text-decoration: none;
  transition: color 400ms;
}

.head-nav li a span {
  margin-left: 15px;
  position: relative;
  display: block;
  z-index: 0;
  font-family: Roboto, sans-serif;
  text-indent: -20em;
  white-space: nowrap;
  transition: text-indent 400ms ease-in-out;
}

.head-nav svg {
  position: relative;
  max-width: 80px;
  max-height: 30px;
  z-index: 1;
  fill: var(--color-2);
  background: #151515;
  transition: 400ms;
}

@media screen and (max-width: 768px) {
  .head-nav ul {
    margin-top: calc(var(--pad) / 4);
  }
  .head-nav svg {
    max-width: 20px;
  }
}

.main-head {
  position: fixed;
  bottom: 0;
  width: 83px;
  height: 100%;
  z-index: 1;
  background: #151515;
  transition: width 400ms;
}

.main-head:hover {
  width: 200px;
}

.main-head:hover + .wrap-all-the-things {
  transform: translateX(156px);
  max-width: 100%;
  opacity: 0.4;
}

.main-head:hover .head-nav li:nth-of-type(1) span {
  transition-delay: 100ms;
}

.main-head:hover .head-nav li:nth-of-type(2) span {
  transition-delay: 200ms;
}

.main-head:hover .head-nav li:nth-of-type(3) span {
  transition-delay: 300ms;
}

.main-head:hover .head-nav li:nth-of-type(4) span {
  transition-delay: 400ms;
}

.main-head:hover .head-nav span {
  text-indent: 0;
}

@media screen and (max-width: 768px) {
  .main-head {
    width: 70px;
    padding: 0 var(--pad);
  }
  .main-head .head-nav {
    padding-left: 7px;
  }
  .main-head:hover .head-nav span {
    text-indent: 1em;
  }
}

.wrap-all-the-things {
  min-height: 100%;
  height: 100%;
  /* padding-left: 250px; */
  margin-top: 0;

  background-size: cover;
  background-position: center center;
  transition: transform 400ms, opacity 400ms;
}

@media screen and (max-width: 480px) {
  .wrap-all-the-things {
    padding-left: 70px;
  }
}

.sideIcon {
  height: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  margin-left: 20px;
}

li {
  display: flex;
  padding: 5px 0 5px 10px;
  border-radius: 10px;
}

li:hover {
  /* background-image: linear-gradient(to right, #00000072, Red);
  color: tomato; */
}

.top {
  /* padding-left: 40px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #151515;
  width: 100%;
}

.statsbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: -35px;
  margin-right: 20px;
  margin-top: 30px;
  background-color: #151515;
  padding: 10px;
  border-radius: 20px;
}

.greet {
  color: #D21F26;
  font-size: 25px;
  padding: 10px;
}

.topR {
  margin-right: 30px;
  padding-top: 10px;
  color: #ffffff;
}

.plan {
  font-size: 40px;
  color: white;
}

.sleft {
  /* background-color: red; */
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
}

.sright {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  margin-right: 20px;
  background-color: #151515;
  justify-content: end;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  background-color: #1D1D1D;
  padding: 15px 40px;
  border-radius: 20px;
}

.fig {
  color: #D21F26;
  font-size: 45px;
  padding: 10px;
}

.statIcon {
  height: 70px;
  filter: brightness(90%);
}

.plann {
  /* background-color: aqua; */
  height: 70px;
  width: 100%;
}

button {
  --btn-color: #D21F26;
  position: relative;
  border: 1px solid var(--btn-color);
  border-radius: 20px;
  color: var(--btn-color);
  background-color: transparent;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
}

button::before,
button::after {
  position: absolute;
  top: 0;
  left: 0;
  border-color: var(--btn-color);
  border-radius: 20px;
  border-style: solid;
  transition: all 0.5s;
  content: "";
  z-index: 1;
}

button::before {
  width: 0;
  height: 100%;
  /* border-width: 1px 0 1px 0; */
  color: #D21F26;
  /* border: 1px solid #00C4F4; */
}

button::after {
  width: 100%;
  height: 0;
  border-width: 0 1px 0 1px;
}

button:hover {
  border-color: #ff0008;
  /* border-width: 2px; */
  color: #ff0008;
}

button:hover::before {
  width: 100%;
}

button:hover::after {
  height: 100%;
}

.wht {
  padding: 5px 20px;
}

.user {
  background-color: aqua;
  border-radius: 100%;
  height: 50px;
}
