<body>
  <div class="top">
    <div class="plana">Plan-A</div>
    <div class="topR">
      <p class="greet">Good evening Doe</p>

    </div>

  </div>


  <header class="main-head">
    <nav class="head-nav" style="">
      <ul class="menu">
        <li >
          <a>
            <div class="person">
              <img class="user" src="assets/images/profile.png" alt="">

            </div><span>Account</span>
          </a>
        </li>

        <li>
          <a>
            <div class="person">
              <img class="sideIcon" src="assets/icons/dashboard.png" alt="">
            </div><span>Dashboard</span>
          </a>
        </li>
        <li>
          <a h>
            <div class="person">
              <img class="sideIcon" src="assets/icons/new.png" alt="">
            </div><span>New Event</span>
          </a>
        </li>
        <li>
          <a>
            <div class="person">
              <img class="sideIcon" src="assets/icons/eventt.png" alt="">
            </div><span>Events</span>
          </a>
        </li>
        <li>
          <a>
            <div class="person">
              <img class="sideIcon" src="assets/icons/usersR.png" alt="">
            </div><span>Users</span>
          </a>
        </li>
        <li>
          <a>
            <div class="person">
              <img class="sideIcon" src="assets/icons/logout.png" alt="">
            </div><span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </header> <!-- //main-head -->

  <!-- Components to load here -->
   <app-managerdashboard></app-managerdashboard>
   <app-event-form></app-event-form>

  <div class="wrap-all-the-things">

  </div>



</body>
